/* styles.css */

body {
    font-family: system-ui;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    color: #f9f6ef;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: xxx-large;
    color: #ff6600;
}

h2 {
    color: #007aff;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    margin: auto;
    color: #a3aaae;
    text-decoration: none;
    padding-bottom: 5px;
}

a:hover {
    text-decoration: underline;
    color:blue
}

.contact-info {
    margin: auto;
    padding: auto;
    text-align: center;
    color: #aaaaaa;
}


.work-experience {
    border-top: 2px solid #f0f0f052;
    padding-top: 20px;
}

.skills,
.certifications,
.online-presence,
.ongoing-learning {
    margin-top: 20px;
}

.skills p,
.certifications ul,
.online-presence ul,
.ongoing-learning ul {
    line-height: 1.6;
}


